{% extends 'sad/base_generic.html' %}

{% block content %}

{% if form.errors %}
<p> Usuário ou senha incorreta.</p>
{% endif %}

<div class="post">
    <div class="title">
        <h2> Login </h2>
        <p><small>Informe seu RA e senha para ser autenticar no GDA</small></p>
        <br />
    </div>
<form method="post" action="{% url django.contrib.auth.views.login %}">
<table>
<tr>
    <td>{{ form.username.label_tag }}</td>
    <td>{{ form.username }}</td>
</tr>
<tr>
    <td>{{ form.password.label_tag }}</td>
    <td>{{ form.password }}</td>
</tr>
</table>

<input type="submit" value="login" />
<input type="hidden" name="next" value="{{ next }}" />
</form>

{% endblock %}

