{% extends 'sad/base.html' %}
{% block content %}
<form method='POST' action='/gda/respostas_alternativas'>
  <select name="professores" >
    {% for p in professores %}
      <option value="{{p.id}}"> {{p.nome}} </option>
      {% endfor %}
  </select>    
  <select name="disciplinas" >
    {% for d in disciplinas %}
      <option value="{{d.sigla}}"> {{d.sigla}} </option>
    {% endfor %}
  </select>    
    <input type='submit' value='Enviar'>
  </form>
  {% if respostas %}
    {% for r in respostas %}
      {{r.0}} <br />
      {% for texto in r.1 %}
      {{texto}} <br />
      {% endfor %}
      <br />
      <br />
  {% endfor %}
  {% endif %}
    <br>&nbsp;
{% endblock %}
