{% extends "admin/base.html" %}
{% load i18n %}
{% block title %}Escolhendo respostas {{ disc }} / {{ professor }} | {% trans 'GDA' %}{% endblock %}
            
{% block content %}
    <form method='POST' action='commit/'>
	<div class="post">
		<div class="title">
            <h2>Escolhendo respostas modelos da disciplina {{ disc }} com professor(a) {{ professor }}</h2>
			<p><small>Selecione as respostas dissertativas modelos a fim de serem exibidas no guia oficial do GDA</small></p>
		</div>
		<div class="entry">
			{% if data %}
				<ul>
				{% for questao in data %}
                    <li>{{ questao.perg }}
                    {% if questao.resps %}
                        {% for resp in questao.resps %}
                            <br>
                            {% if resp.modelo %}
                            <input type="checkbox" name="id{{ resp.id }}" value="True" checked>
                            {% else %}
                            <input type="checkbox" name="id{{ resp.id }}" value="True">
                            {% endif %}
                            </input>{{ resp.texto }}
                        {% endfor %}
                    {% else %}
                        <small>Sem respostas para essa quest&atilde;o</small>
                    {% endif %}
                    </li>
				{% endfor %}
				</ul>
			{% else %}
				<p>Nenhuma resposta para essa atribui&ccedil;&atilde;o!</p>
			{% endif %}
		</div>
	</div>
    <input type='submit' value='Atualizar'>
    </form>
{% endblock %}
