{% extends "admin/base.html" %}
{% load i18n %}
{% block title %}Escolhendo disciplinas para respostas modelo | {% trans 'GDA' %}{% endblock %}
            
{% block content %}

	<div class="post">
		<div class="title">
			<h2>Escolhendo respostas modelos</h2>
			<p><small>Escolha uma disciplina e selecione as respostas modelos para cada pergunta feita</small></p>
		</div>
		<div class="entry">
			{% if atrib %}
				<ul>
				{% for a in atrib %}
				<li><a href="{{ano}}s{{semestre}}/{{a.atribuicao}}/">{{a.atribuicao.disciplina}}</a> com {{a.atribuicao.professor}}
				({% ifequal a.num  1  %}
					1 resposta total
				{% else %}
					{{a.num}} respostas totais
				{% endifequal %})
                {% if a.modelo %}
                    <b>(Há respostas modelos inseridas)</b>
                {% endif %}</li>
				{% endfor %}
				</ul>
			{% else %}
				<p>Nenhuma resposta adquirida!</p>
			{% endif %}
		</div>
	</div>
{% endblock %}
