{% extends 'sad/base_generic.html' %}

{% block title %}{{ section.title }}{% endblock%}

{% block content %}
<h1>{{ section.title }}</h1>
<ul>
        <form action="{% url resultados.views.busca %}" method='post'>
        <p>Semestre: <input type="text" name="semestre" value="{{ semestre }}">
        <p>Professor: <input type="text" name="professor" value="{{ professor }}">
        <p>Disciplina: <input type="text" name="disciplina" value="{{ disciplina }}">
        <p>Turma: <input type="text" name="turma" value="{{ turma }}">
        <p> <input type="submit" value="buscar" />
        <form action='.' method='post'>
</ul>                
{% endblock %}

