{% extends 'sad/base_generic.html' %}
{% block content %}
<h1>Disciplina: {{ disciplina }}{{ turma }}
<br />
Prof. {{ professor }}</h1>
<h2> {{ avaliacao.semestre }}º semestre de {{avaliacao.ano}}</h2>
<br />
<br />
<br />
<a> Nº de questionários respondidos: {{max_value}}</a><br /><br />
{% for p in perguntas %}
<div class="post">
    <b>{{ p.pergunta }}</b><br /><br /> 
    {% if p.alternativas %}
            <ul>
            <div id="graficos">
            <table width="500">
            {% for a in p.alternativas %}
                <tr> 
                    <td width="100">
                        {{a.texto}}
                    </td>
                    <td>
                        <a class="bar" style="width: {{a.resposta}}%;">{{a.resposta}}% </a>
                    </td>    
                </tr>
            {% endfor %}
            </table>
            </div> 
            </ul>
            <b>Comentários:</b><br /><br />
            {% for c in p.comentarios %}
                {% if c.texto %}
                    <li>{{c.texto}}</li>
                {% endif %}
            {% endfor %}
            <br />
    {% else %}
            <b> Respostas: </b><br /><br />
            {% for d in p.dissertativas %}
                {% if d.texto %}
                    <li> {{ d.texto }} </li>
                {% endif %}
            {% endfor %}
            <br /><br />
    {% endif %}
</div>
{% endfor %}
{% endblock %}



